.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Renviron

# project-wide ignore
genetic_data/
imaging_data/
result_supplement/imaging_data_final/
result_table/
script/
__MACOSX/
pgs_img_2.Rproj
.RData
